/* src/App.css */

.App {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #deeff2, #a7d8e6);
  color: #333;
  min-height: 100vh;
  text-align: center;
  
}


@media (max-width: 768px) {
  .layout-container {
    flex-direction: column;
  }

  .logo-side {
    border-right: none;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }

  .logo-img {
    width: 80px;
    
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
